$color-bg: #f0f0f4;
$color-text: #262626;
$color-link: #0d0d0d;
$color-link-hover: #737373;

html {
  font-size: 10px;
  min-height: 100%;
  height: 100%;
}

body {
  background: $color-bg;
  min-height: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: $color-text;
}

app-root {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: $color-link;
  transition: color 200ms ease-in-out;

  &:active,
  &:focus,
  &:hover {
    color: $color-link-hover;
    transition: color 200ms ease-in-out;
  }
}
